*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #d4e2f3;
}
.ponto{
    margin-top: 100px;
    text-align: left;
    margin-left: 70px;
}
h1{
    font-size: vioda libre;
}
h2{
    font-size: vioda libre;
}
#h1-1{
    font-size: 30px;
}
#h1-2{
    font-size: 15px;
}
.pnt{
    margin-top: 20px;
    margin-left: 20px;   
    display: flex;
    background-color: #ffffff
}
#h2-1{
    background-color: #ffffff;
    margin-top: 9px;
    margin-left: 25px; 
}
#img-1{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: -50px;
    background-color: #ffffff;
    height: 33px;
    width: 33px;
}
#h2-3{
    margin-top: 35px;
    font-size: 23px;
    background-color:#ffffff;
}
#h2-4{
    font-size: 14px;
    background-color:#ffffff;
}
#h2-5{
    margin-left: 110px;
    font-size: 9px;
    background-color:#ffffff;
}
.caixa{
    margin-left: 20px;
    flex-grow: 1;
    background-color: #ffffff;
    width: 230px;
    height: 190px;
}
#h2-6{
    margin-top: 15px;
    background-color: #ffffff;
}
a{
    background-color: #d4e2f3;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #d4e2f3;
}
#h2-7{
    margin-top: 40px;
    font-size: 16px;
    background-color: #ffffff;
}
#con{
    display: flex;
    justify-content: space-around;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
} 
#h4-9{
    border-style: solid;
    border-width: 10px;
    border-color: #d4e2f3;
}